@import 'tailwindcss';

@font-face {
  font-family: "Unbounded:ExtraBold";
  font-style: normal;
  font-weight: 800;
  src: url("https://static.figma.com/font/Unbounded_wght__1") format("woff2");
}

@font-face {
  font-family: "Inter:Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://static.figma.com/font/Inter_1") format("woff2");
}

@font-face {
  font-family: "Inter:Semi Bold";
  font-style: normal;
  font-weight: 600;
  src: url("https://static.figma.com/font/Inter_1") format("woff2");
}

@font-face {
  font-family: "Inter:Bold";
  font-style: normal;
  font-weight: 700;
  src: url("https://static.figma.com/font/Inter_1") format("woff2");
}

@font-face {
  font-family: "Unbounded:Bold";
  font-style: normal;
  font-weight: 700;
  src: url("https://static.figma.com/font/Unbounded_wght__1") format("woff2");
}

@font-face {
  font-family: "Unbounded:Black";
  font-style: normal;
  font-weight: 900;
  src: url("https://static.figma.com/font/Unbounded_wght__1") format("woff2");
}

html,
body,
#root {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}
